# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#binary file
emu
tests/stage0_tests
tests/stage0_tests.exe
tests/stage0-*.bin

#editor temp files
\#*
.\#*
*~
~*
